In [3]:
import requests
import json
import pandas as pd
import numpy as np
from pprint import pprint

In [4]:
#TMDb requires the user to secure the movie ID's prior to accessing the "details" of movies so we must first get the ID's...
url = "https://api.themoviedb.org/3/search/movie?api_key=103eda796d3cfe749f9191293967253d&query="

Marvel_Movies = [
"Iron+Man",
"The+Incredible+Hulk","Iron+Man+2",
"Thor","Captain+America:+The+First+Avenger",
"The+Avengers",
"Iron+Man+3",
"Thor:+The+Dark+World",
"Captain+America:+The+Winter+Soldier",
"Guardians+of+the+Galaxy",
"Avengers:+Age+of+Ultron",
"Ant-Man",
"Captain+America:+Civil+War",
"Doctor+Strange",
"Guardians+of+the+Galaxy+Vol.+2",
"Spider-Man:+Homecoming",
"Thor:+Ragnarok",
"Black+Panther",
"Avengers:+Infinity+War",
"Ant-Man+and+the+Wasp",
"Captain+Marvel"]

movie_ids = []

for movie in Marvel_Movies:
        movie_id = requests.get(url+movie).json()
        movie_ids.append(movie_id['results'][0]['id'])

In [5]:
#create a data frame
Marvel_dict_id = {"Film": Marvel_Movies, "Film ID":movie_ids}
Marvel_ID = pd.DataFrame(Marvel_dict_id)
Marvel_ID.head()

                                 Film  Film ID
0                            Iron+Man     1726
1                 The+Incredible+Hulk     1724
2                          Iron+Man+2    10138
3                                Thor    10195
4  Captain+America:+The+First+Avenger     1771

In [7]:
#after securing the movie ID's, we can use them to call the details of specific movie ID's
details_url = "https://api.themoviedb.org/3/movie/"
api_key="103eda796d3cfe749f9191293967253d"

budget = []
revenue = []
vote_average = []

for i in Marvel_ID["Film ID"]:
        details = requests.get(f"{details_url}{i}?api_key={api_key}").json()
        budget.append(details['budget'])
        revenue.append(details['revenue'])
        vote_average.append(details['vote_average'])

In [8]:
#details

In [9]:
#create a data frame
Marvel_dict = {"Film": Marvel_Movies,
                "Budget": budget,
                "Box Office Sales (Global)": revenue,
                "Rating": vote_average}

Marvel_df = pd.DataFrame(Marvel_dict)
Marvel_df.head()

,Film,Budget,Box Office Sales (Global),Rating
0,Iron+Man,140000000,585174222,7.5
1,The+Incredible+Hulk,150000000,163712074,6.2
2,Iron+Man+2,200000000,623933331,6.8
3,Thor,150000000,449326618,6.7
4,Captain+America:+The+First+Avenger,140000000,370569774,6.8

In [10]:
#remove the "+" and replace with " "
Marvel_df["Films"] = Marvel_df["Film"].str.replace("\W", " ")
Marvel_df.head()

,Film,Budget,Box Office Sales (Global),Rating,Films
0,Iron+Man,140000000,585174222,7.5,Iron Man
1,The+Incredible+Hulk,150000000,163712074,6.2,The Incredible Hulk
2,Iron+Man+2,200000000,623933331,6.8,Iron Man 2
3,Thor,150000000,449326618,6.7,Thor
4,Captain+America:+The+First+Avenger,140000000,370569774,6.8,Captain America The First Avenger

In [11]:
#drop the first column
Marvel_df.drop("Film", axis=1, inplace=True)

In [13]:
#reorder columns
Marvel_df = Marvel_df[["Films", "Budget", "Box Office Sales (Global)", "Rating"]]
Marvel_df.head()

,Films,Budget,Box Office Sales (Global),Rating
0,Iron Man,140000000,585174222,7.5
1,The Incredible Hulk,150000000,163712074,6.2
2,Iron Man 2,200000000,623933331,6.8
3,Thor,150000000,449326618,6.7
4,Captain America The First Avenger,140000000,370569774,6.8

In [ ]:
Marvel_df.to_csv("TMDb_Data.csv", index=False)

In [14]:
Marvel_df.corr()

                             Budget  Box Office Sales (Global)    Rating
Budget                     1.000000                   0.858775  0.488931
Box Office Sales (Global)  0.858775                   1.000000  0.657834
Rating                     0.488931                   0.657834  1.000000

In [19]:
Rating_corr = Marvel_df[[ "Rating", "Box Office Sales (Global)"]]
Rating_corr.corr()

                             Rating  Box Office Sales (Global)
Rating                     1.000000                   0.657834
Box Office Sales (Global)  0.657834                   1.000000